.loadingScreen {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    animation: fadeIn 0.5s ease-in;
    overflow: hidden;
}

.gridBackground {
    position: absolute;
    inset: 0; // top:0; right:0; bottom:0; left:0
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.loader {
    position: relative;
    z-index: 2; // lebih tinggi dari GridScan
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
