.mainContent {
    width: 100%;
    overflow-x: hidden;
    background: #000;
}

.mainBackground {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 11px;
    // z-index: 1;
    pointer-events: none;
}
