.introFlow {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #000; // hitam solid biar transisi halus
    z-index: 9999;

    overflow: hidden;
}
