.wrapper {
    position: fixed; /* ⭐ penting */
    inset: 0; /* top:0 right:0 bottom:0 left:0 */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 9999; /* ⭐ paling atas */
}

.idleWrapper {
    position: fixed; /* ⭐ penting */
    inset: 0; /* top:0 right:0 bottom:0 left:0 */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 9999; /* ⭐ paling atas */
    background: #000; /* atau warna tema kamu */
}

/* main loader */
.loader {
    --clr: #fbfbfb;
    --load-time: 4s;

    position: relative;
    overflow: hidden;

    outline: 5px solid var(--clr);
    outline-offset: 5px;

    border-radius: 10rem;
    width: 10rem;
    padding: 0.5rem 8rem;

    transform: scale(0.5);
}

/* animated fill */
.loader::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: var(--clr);

    z-index: 2;
    animation: loading var(--load-time) ease-in-out;
}

.text {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #fbfbfb;
    opacity: 0.8;
}

/* mode idle = bar kosong */
.idle::after {
    animation: none;
    width: 0%;
}

/* animation */
@keyframes loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}
